@import ../../style/config.sass

.navbar-dark .navbar-nav .nav-link
    color: $primary-color

.header
    width: 100vw

    &__sticky-nav
        position: -webkit-sticky
        position: sticky
        top: 0
        z-index: 10

@media screen and (min-width: 400px)
    .superior

        &__image
            max-width: 80px
            margin: 0
            padding: 0

@media screen and (min-width: 0px) and (max-width: 400px)
    .superior
        
        &__image
            max-width: 120px
            margin: 0
            padding: 0
