@import ../../../style/config.sass

.admin-new-user
    flex-direction: column

    &__form
        display: flex
        flex-direction: column

        input
            margin-top: 0.5rem
            border: 0
            background-color: rgba($secondary-color, 0.1)
            color: $secondary-color
        
        input::placeholder
            color: $secondary-color

        select
            margin-top: 0.5rem

        button
            margin: 0
            margin-top: 0.5rem