button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.search-button {
  color: #f57b1f;
  border-color: #f57b1f;
}

.search-button:hover {
  background-color: #f57b1f;
  border-color: #f57b1f;
}

.badge-nav-orange {
  background-color: #f57b1f !important;
}

.navbar-heigh {
  height: 65px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f57b1f;
}

.header {
  width: 100vw;
}
.header__sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 400px) {
  .superior__image {
    max-width: 80px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .superior__image {
    max-width: 120px;
    margin: 0;
    padding: 0;
  }
}
.cartButton__feedback {
  font-size: 10px;
}
.cartButton__input {
  font-size: 1rem;
  height: 0.7rem;
  width: 5rem;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.main-head {
  height: 150px;
  background: #FFF;
}

.sidenav {
  height: 100%;
  background-image: url("athlete-landing2.jpg");
  background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}
@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 80%;
  }

  .register-form {
    margin-top: 20%;
  }
}
.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.currentOrder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.currentOrder li {
  list-style: none;
}
.currentOrder__articles {
  width: 100vw;
}
.currentOrder__articles input {
  font-size: 1rem;
  height: 1rem;
  width: 6rem;
  color: #333333;
}
.currentOrder__article {
  grid-template-columns: 100px 250px 100px 165px 125px 170px 150px 103px;
  grid-row-gap: 1px;
  grid-column-gap: 0;
  display: grid;
  justify-content: center;
}
.currentOrder__article input {
  width: 73px;
}
.currentOrder__article--param {
  display: grid;
  align-content: center;
  margin-right: 0.5rem;
  color: #333333;
}
.currentOrder__title {
  width: 100vw;
  margin: 1rem 0 0 0;
  text-align: center;
  color: #333333;
}
.currentOrder__placeOrder {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currentOrder__totalPrice {
  color: #333333;
  margin: 2rem;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.myOrders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myOrders__title {
  width: 100vw;
  margin-top: 1rem;
  text-align: center;
  color: #333333;
}
.myOrders__order {
  margin-top: 3rem;
  grid-template-columns: 800px 500px;
  grid-row-gap: 1px;
  grid-column-gap: 9px;
  display: grid;
  justify-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.myOrders__order:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #f57b1f;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.myOrders__order:hover:before, .myOrders__order:focus:before, .myOrders__order:active:before {
  left: 0;
  right: 0;
}
.myOrders__order:hover {
  position: relative;
  z-index: 3;
}
.myOrders__order--data {
  grid-template-columns: 175px 120px 190px;
  grid-row-gap: 5px;
  grid-column-gap: 9px;
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}
.myOrders__orderCont--items {
  margin-top: 1rem;
}
.myOrders__order--items {
  margin-bottom: 0.5rem;
  grid-template-columns: 75px 280px 100px 100px 150px;
  grid-row-gap: 5px;
  grid-column-gap: 9px;
  display: grid;
  justify-content: center;
}
.myOrders__order:hover .status__pending {
  color: orange;
  margin-left: 0.5rem;
  height: 17px;
}
.myOrders__order:hover .status__closed {
  color: red;
  margin-left: 0.5rem;
  height: 17px;
}

.status {
  display: flex;
}
.status__pending {
  color: #333333;
  margin-left: 0.5rem;
}
.status__closed {
  color: #333333;
  margin-left: 0.5rem;
}

.abc {
  margin-top: 1rem;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.feedback {
  text-align: center;
  padding: 0.3rem;
  color: #333333;
}
.feedback--error {
  color: red;
}
.feedback--warn {
  background-color: yellow;
}
.feedback--success {
  color: green;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.searchResultMainContenedor {
  display: flex;
  justify-content: center;
}

.searchResult {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  padding-bottom: 4rem;
  justify-content: center;
}
.searchResult input {
  border: 0;
  background-color: rgba(51, 51, 51, 0.1);
}
.searchResult li {
  list-style: none;
}
.searchResult p {
  text-decoration-style: bold;
}
.searchResult h4 {
  width: 100vw;
  margin: 2rem 0;
  text-align: center;
  color: #333333;
}
.searchResult__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 5px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  height: 350px;
  width: 240px;
}
.searchResult__article::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #f57b1f;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.searchResult__article:hover:before, .searchResult__article:focus:before, .searchResult__article:active:before {
  left: 0;
  right: 0;
}
.searchResult__article:hover {
  position: relative;
  z-index: 3;
}
.searchResult__article:hover .cartbutton-form {
  visibility: visible;
}
.searchResult__article--param {
  padding-top: 0.3rem;
  display: flex;
  justify-content: center;
  color: #333333;
}
.searchResult__out-of-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6rem;
}
.searchResult__out-of-stock h3 {
  padding: 7px;
  margin: 5px;
  color: #f57b1f;
}
.searchResult__on-cart {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}
.searchResult__on-cart--text {
  color: #f57b1f;
  margin: 5px;
  padding: 7px;
  margin-right: 0.25rem;
  text-align: center;
  font-size: 16px;
  max-width: 4rem;
}
.searchResult__on-cart--button {
  cursor: pointer;
  margin: 5px;
  padding: 7px;
  margin-left: 0.25rem;
  width: 8rem;
  background-color: #333333;
  color: #f57b1f;
  height: 30px;
}
.searchResult__on-cart--button:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.cartbutton-form {
  visibility: hidden;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  -webkit-animation: fadeIn 1s;
}
.cartbutton-form__input {
  margin: 5px;
  padding: 7px;
  width: 4rem;
  margin-right: 0.25rem;
  text-align: center;
  font-size: 16px;
}
.cartbutton-form__button {
  cursor: pointer;
  margin: 5px;
  padding: 7px;
  margin-left: 0.25rem;
  width: 8rem;
  height: 30px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.myAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myAccount h1 {
  margin: 1rem;
  color: #333333;
}
.myAccount h2 {
  margin: 1rem;
  color: #333333;
}
.myAccount__updateUser {
  padding: 1rem;
  width: 25%;
  height: 25%;
  border-top: 1px solid #333333;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myAccount__update-user--form {
  display: flex;
  flex-direction: column;
}
.myAccount__update-user--form input {
  margin-top: 1rem;
  border: 0;
  background-color: rgba(51, 51, 51, 0.1);
}
.myAccount__update-user--form button {
  margin: 0;
  margin-top: 1rem;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

.admin-main {
  display: flex;
}
.admin-main__admin-panel {
  min-width: 7.3125rem;
  padding: 1rem 2rem 0rem 2rem;
  margin: 0;
  flex-direction: column;
  background-color: #333333;
  min-height: 100vh;
  height: auto;
}
.admin-main__admin-panel h1 {
  color: white;
}
.admin-main__admin-panel--buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 2rem;
}
.admin-main__admin-panel--buttons button {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  background-color: #333333;
  color: #f57b1f;
  border-top: 1px solid #f57b1f;
  text-align: left;
}
.admin-main__admin-panel--buttons button:hover {
  cursor: pointer;
}
.admin-main__content {
  color: #333333;
  width: 100vw;
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.statusAdminOrder {
  display: flex;
}
.statusAdminOrder__pending {
  color: yellow;
  margin-left: 0.5rem;
}
.statusAdminOrder__closed {
  color: red;
  margin-left: 0.5rem;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

button {
  background: #f57b1f;
  border-color: rgba(51, 51, 51, 0.6);
  border-radius: 2px;
  padding: 7px;
  margin: 5px;
  border: 0;
}

button:hover {
  background-color: rgba(245, 123, 31, 0.5);
  color: white;
}

input {
  padding: 7px;
  border-radius: 2px;
  border-width: 1px;
}

* {
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "sans-serif";
  src: local("sans-serif"), url(./Radnika-Medium.otf) format("otf");
}
*:focus {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
}

img {
  max-height: 170px;
  max-width: 200px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=index.css.map */
